/* ski_index_01_20171128.css */
@charset "utf-8";

/* reset.css */
html, body{margin:0; padding:0; color:#333;}
h1,h2,h3,h4,h5,h6,
p,pre,div{margin:0; padding:0;}
ul,ol,li,dl,dt,dd{margin:0; padding:0; list-style:none;}
a{text-decoration:none; color:#333;}
a:hover{text-decoration:underline; font-weight:bold;color:#a0a;}
img{border:0;}

header, section, footer, aside, article, nav, main, figure{display:block;}

button{cursor:pointer;}

/* commen.css */
.clearfix:after{content:" "; display:block; clear:both;}
.clearfix::after{content:" "; display:block; clear:both;}

.hidden{width:0; height:0; overflow:hidden;}

#wrap .last{margin-right:0; border-right:0;}
#wrap .first{margin-left:0; border-left:0;}



/* accessibility.css */
a:focus button:focus{outline:3px solid #68a}


/* design.css */
html{width: 100%; height: 100%;}
body{width: 100%; height:100%;background-color:#ddd; margin:0 auto;}

#wrap{width:100%; height:auto; min-height:300px; margin:0 auto; background-color:#adadad;}

.sm_title_box{width:700px; height:auto; /* background-color:#adddca; */ margin:0 auto;}
.sm_title_box>.title{width:80px; height:80px; background-color:#a3d; text-align:center; line-height:80px; float:left;
margin-top:50px;} 
.sm_title_box>.scroll_arrow{width:30px; height:30px;background-color:#68a; float:right; margin-top:100px;}
.sm_title_box>.line{width:700px; height:0; border-bottom:5px solid #333; margin-top:10px; margin-bottom:10px ;float:left;}

#indexBox{width:100%; height:auto; position:relative;}
#indexBox:after{content:" "; display:block; clear:both;}

/* #header */
#headBox{width:100%; height:auto; background-color:#aaf; padding:15px; box-sizing:border-box; margin:0 auto; position:absolute; bottom:0; z-index: 100;}

#headBox.fixed{position:fixed; top:0; bottom:auto;}
#headBox:after{content:" "; display:block; clear:both;}
h1{width: 100px; height: 100px; background-color:#fff; float:left;}

h1{width:200px; height:100px; background-color:#fff; float:left; text-align:center; line-height:100px;}

#gnb{width:400px ; height:60px ; float:left; margin-left:180px; margin-top:60px;}
#gnb>ul{width:100%; height:100%;}
#gnb>ul>li{width:100px; height:100%; background-color:#3af; float:left; margin-right:50px; text-align:center; line-height:60px;}
/* // #header */

/* #bannerBox */
#bannerBox{width:100%; height:650px; background-color:#a3d; position:relative;}
.banner_box{width:100%; height:100%; background-color:#fff;}
.banner_box>ul{width:300%; height:100%;}
.banner_box>ul>li{width:33.333333%; height:100%; float:left; text-align:center; 
    line-height:500px; font-size:3rem;}
    .banner_box>ul>.inbanner_01{background-color:#0ae;}
    .banner_box>ul>.inbanner_02{background-color:#68a;}
    .banner_box>ul>.inbanner_03{background-color:#3af;}
.btn{width:100%; height:0;background-color:#fff; position:absolute; top:50%; margin-top:-35px;}
.btn>.btn_l{width:70px; height:70px; background-color:#555; float:left;}
.btn>.btn_r{width:70px; height:70px; background-color:#555; float:right;}
.list_box{width: 150px; height:20px; float:left; position:absolute; left:50%; top:50%; margin-left:-75px; margin-top:160px;}
.list_box>li{width:30px; height:30px; background-color:#fff; float:left; margin-right:30px;}
.scroll_down{width: 80px; height:80px; background-color:#555;float:left; position:absolute; left:50%; top:50%; margin-left:-40px; margin-top:220px;}
/* // #bannerBox */

/* #introduceBox */
#introduceBox{width:100%; height:auto; background-color:#eee; margin:0 auto; 
    padding:80px; box-sizing:border-box;}

/* indicator */
#indicatorBox{width:20px; height:150px; margin-bottom:10px; position:fixed;left:50%;
     margin-left:27rem; bottom: 10rem;}
#indicatorBox>.indicator_list_box{width:20px; height:150px; }
.indicator_list_box>li{width:20px; height:20px; background-color:#353535; 
    margin-bottom:10px;}
.indicator_list_box>li>button{width:100%; height:100%; background-color: transparent;}
#indicatorBox, #indicatorBox+.btn_top{display: none;}
/* .btn_top{width:80px; height:80px; width:5rem; height:5rem; background-color:#353535; color:#fff;position: fixed; left:50%; margin-left:24rem; } */


#historyBox{width:800px; height:auto; background-color:#eee; margin:0 auto;}

#introduceBox #yearsBox{width:600px; height:auto; /* background-color:#888; */
    margin-left:50px;}

/* 연혁 디자인 정리 */
#yearsBox .small_yearbox{width:500px; height:auto;}
#yearsBox .small_yearbox>.year_circle{width:100px; height:100px; background-color:#353535; color:#fff; 
    text-align: center; line-height: 100px; float:left;}
#yearsBox .small_yearbox>.small_scroll_arrow{width:20px; height:20px; background-color:#353535; float:right;
margin:50px 20px 0px 0px;}
#yearsBox .small_yearbox>.small_line{width:380px; height:0; border-bottom:3px solid #333; margin-top:5px; float:left;}

/* 2016 */
#yearsBox>.y_2016{width:500px; height:auto; /* background-color:#aaf; */ margin-top:50px;}
#yearsBox>.y_2016>.h_story_2016{width:380px; height:auto;padding:10px; box-sizing:border-box; float:right;}
.cross_line_2016{width:180px; height:0; border-bottom:5px solid #353535;
transform:translate(0px, 150px) rotate(50deg);}
/* 2015 */
#yearsBox>.y_2015{width:500px; height:auto; /* background-color:#aaf;  */margin-top:30px; margin-left:100px;}
#yearsBox>.y_2015>.h_story_2015{width:360px; height:auto;padding:10px; box-sizing:border-box; float:right;}
.cross_line_2015{width:180px; height:0; border-bottom:5px solid #353535;
    transform:translate(-90px, 160px) rotate(-50deg);}
/* 2014 */
#yearsBox>.y_2014{width:500px; height:auto; /* background-color:#aaf; */ margin-top:30px;}
#yearsBox>.y_2014>.h_story_2014{width:360px; height:auto;padding:10px; box-sizing:border-box; float:right;}
.cross_line_2014{width:180px; height:0; border-bottom:5px solid #353535;
    transform:translate(0px, 150px) rotate(50deg);}
/* 2013 */
#yearsBox>.y_2013{width:500px; height:auto; /* background-color:#aaf; */ margin-top:30px; margin-left:100px;}
#introduceBox #yearsBox>.y_2013>.h_story_2013{width:360px; height:auto;padding:10px; box-sizing:border-box; float:right;}
.cross_line_2013{width:180px; height:0; border-bottom:5px solid #353535;
    transform:translate(-90px, 160px) rotate(-50deg);}
/* 2012 */
#yearsBox>.y_2012{width:500px; height:auto; /* background-color:#aaf; */ margin-top:30px;}
#yearsBox>.y_2012>.h_story_2012{width:360px; height:auto;padding:10px; box-sizing:border-box; float:right; margin-bottom:50px;}


.rule_box{width:680px; height:auto; /* background-color:#0ae; */ padding:10px;
box-sizing:border-box; margin-bottom:50px; float:left; margin:0 auto;}
.unit_box{width:680px; height:auto; /* background-color:#0ae; */ padding:10px;
box-sizing:border-box;  float:left; margin:0 auto;}

/* // #introduceBox */

/* #skiinfoBox */
#skiinfoBox{width:100%; height:auto; background-color:#daa; margin:0 auto; 
    padding:30px; box-sizing:border-box;}
#skiinfoBox>.ski_info_box{width:750px; height:auto; margin:0 auto;}
#skiimgBox{width:750px; height:auto; margin:0 auto;}
#skiimgBox>.crossski_img{width:370px; height:300px; background-color:#aaf; float:left; margin-right:10px; margin-top:80px;}
#skiimgBox>.baislonski_img{width:370px; height:300px; background-color:#adadad;float:left;margin-top:80px;}
#skiimgBox>li.select{display: block;}


/* .ski_content_box>.ski_content{width:700px; height:700px; margin:0 auto; float:left; padding:20px; box-sizing:border-box; background-color:#fff; overflow-y:scroll; overflow-x:hidden;padding-right:5rem;} */

#ski_content_box>.crossski_content{width:750px; height:700px; padding:1rem; box-sizing:border-box; background-color:#fff; overflow-y:scroll; overflow-x:hidden; display:none; }
/* #ski_content_box>.crossski_content>span{width:100%; height:100%; background-color:inherit; overflow-y:scroll; overflow-x:hidden; padding-right:5rem; display:block;} */
#ski_content_box>.baislonski_content{width:750px; height:700px; padding:1rem; box-sizing:border-box; background-color:#fff; display:none;overflow-y:scroll; overflow-x:hidden;}
#ski_content_box>li.select{display: block;}
#skimovieBox{width:700px; height:400px; background-color:#0ae;margin:80px auto;}
/* // #skiinfoBox */


/* #noticeBox */
#noticeBox{width:100%; height:auto; margin:0 auto; background-color:#aaf;padding:50px 50px 80px 50px; box-sizing:border-box;}
#noticeContent{width:680px; height:auto; background-color:#daa; margin:0 auto;}
#noticeContent>ul{width:680px; height:auto;}
#noticeContent>ul>li{width:220px; height:220px; background-color:#353535; color:#fff;
    text-align:center;line-height: 220px;float:left; margin-right:6.6666666px; margin-bottom:6.6666666px;}
/* // #noticeBox */


/* #mediaBox */
#mediaBox{width:100%; height:auto; margin:0 auto; background-color:#3af;padding:50px 50px 80px 50px; box-sizing:border-box;}
#PhotoBox{width:680px; height:auto; background-color:#daa; margin:0 auto;}
#PhotoBox>ul{width:680px; height:auto;margin:0 auto;}
#PhotoBox>ul>li{width:220px; height:220px; background-color:#353535; color:#fff;
    text-align:center;line-height: 220px;float:left; margin-right:6.6666666px; margin-bottom:6.6666666px;}
#videoBox{width:680px; height:auto; background-color:#daa; margin:0 auto;}
#videoBox>ul{width:680px; height:auto; margin:0 auto;}
#videoBox>ul>li{width:220px; height:220px; background-color:#353535; color:#fff;
    text-align:center;line-height: 220px;float:left; margin-right:6.6666666px; margin-bottom:6.6666666px;}
/* // #mediaBox */


.btn_top{width:80px; height:80px; width:5rem; height:5rem; background-color:#353535; color:#fff;position: fixed; left:50%; margin-left:24rem; bottom:2rem; text-align: center; line-height: 80px;}
.btn_top>a{color:inherit;}

/*  #footBox */
#footBox{width:100%; height:auto; background-color:#353535; 
    margin:0 auto; padding:30px; box-sizing:border-box;}
#footLogoBox{width:200px; height:100px; background-color:#fff; float:left; text-align:center; line-height:100px; }
#infoBox{width:820px; height:auto; color:#fff; margin-left:20px;margin-bottom: 20px; float:left; }
#addressBox{width:820px; height:auto; color:#fff;margin-left:20px; float:left;}
/* // #footBox */
